:root {
	--toastify-color-light: #fff;
	--toastify-color-dark: #121212;
	--toastify-color-info: #3498db;
	--toastify-color-success: #07bc0c;
	--toastify-color-warning: #f1c40f;
	--toastify-color-error: #e74c3c;
	--toastify-color-transparent: hsla(0, 0%, 100%, 0.7);
	--toastify-icon-color-info: var(--toastify-color-info);
	--toastify-icon-color-success: var(--toastify-color-success);
	--toastify-icon-color-warning: var(--toastify-color-warning);
	--toastify-icon-color-error: var(--toastify-color-error);
	--toastify-toast-width: 320px;
	--toastify-toast-background: #fff;
	--toastify-toast-min-height: 64px;
	--toastify-toast-max-height: 800px;
	--toastify-font-family: sans-serif;
	--toastify-z-index: 9999;
	--toastify-text-color-light: #757575;
	--toastify-text-color-dark: #fff;
	--toastify-text-color-info: #fff;
	--toastify-text-color-success: #fff;
	--toastify-text-color-warning: #fff;
	--toastify-text-color-error: #fff;
	--toastify-spinner-color: #616161;
	--toastify-spinner-color-empty-area: #e0e0e0;
	--toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
	--toastify-color-progress-dark: #bb86fc;
	--toastify-color-progress-info: var(--toastify-color-info);
	--toastify-color-progress-success: var(--toastify-color-success);
	--toastify-color-progress-warning: var(--toastify-color-warning);
	--toastify-color-progress-error: var(--toastify-color-error)
}

a,
body,
div,
html,
i,
img,
p,
section,
span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

section {
	display: block
}

body {
	line-height: 1
}

a,
a:active,
a:focus,
a:hover,
a:link,
a:visited {
	color: inherit;
	text-decoration: none;
	cursor: pointer
}

html {
	scroll-behavior: smooth
}

body,
html {
	height: 100%;
	font-size: 16px
}

a.anchor-tag-reset {
	text-decoration: none;
	display: inherit;
	height: inherit;
	width: auto;
	flex-direction: inherit;
	flex-wrap: inherit;
	justify-content: inherit;
	align-items: inherit;
	grid-row-gap: inherit;
	row-gap: inherit;
	grid-column-gap: inherit;
	-webkit-column-gap: inherit;
	-moz-column-gap: inherit;
	column-gap: inherit
}

a button {
	pointer-events: none
}

button {
	cursor: pointer
}

.page-preview {
	min-height: 100vh
}

.rgl-container {
	position: relative;
	width: 100%;
	padding: 0
}

*,
:after,
:before {
	box-sizing: border-box
}

body {
	font-family: Nunito Sans
}

.cd-padding {
	padding: .05px
}

span img {
	max-width: 100%;
	max-height: inherit
}

:root {
	--_gc: 102, 93, 192
}

.Toastify__toast-container:has(.cd-client-toast-v1) {
	--toastify-toast-width: fit-content !important;
	--toastify-toast-min-height: 0 !important
}

.Toastify__toast-container:has(.fullpagewidthbanner) {
	--toastify-toast-width: 100vw !important;
	box-sizing: content-box
}

:root {
	--cdhs-delay: 0ms;
	--cdhs-easing: var(--cdhs-ease-out);
	--cdhs-duration: 600ms;
	--cdhs-ease-in: cubic-bezier(0.4, 0, 1, 1);
	--cdhs-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	--cdhs-ease-out: cubic-bezier(0, 0, 0.2, 1);
	--cdhs-ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
	--cdhs-opacity: 1;
	--cdhs-translate-y: 0;
	--cdhs-translate-x: 0;
	--cdhs-scale: 1;
	--cdhs-rotate: 0deg;
	--cdhs-perspective: 0;
	--cdhs-rotate-x: 0deg;
	--cdhs-rotate-y: 0deg;
	--cdhs-skew-x: 0deg;
	--cdhs-skew-y: 0deg;
	--cdhs-translate-ratio: 1;
	--cdhs-scale-ratio: 0.2;
	--cdhs-duration-ratio: 1;
	--cdhs-translate-x-amount: 2rem;
	--cdhs-translate-y-amount: 3rem;
	--cdhs-flip-x-amount: 100deg;
	--cdhs-flip-y-amount: -100deg;
	--cdhs-perspective-amount: 2000px;
	--cdhs-stagger-amount: 100ms;
	--cdhs-skew-amount: 20deg;
	--cdhs-reveal-amount: 100%;
	--cdhs-blur: 0;
	--cdhs-blur-amount: 5px
}

/* Grid-Elemente */
.react-grid-item-ho {
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover-Effekt */
.react-grid-item-ho:hover {
    transform: scale(1.02); /* Vergrößert das Element */
    box-shadow: 0 4px 20px rgba(255, 217, 0, 0.2); /* Fügt einen Schatten hinzu */
}